<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:jtds:sqlserver://localhost:1433/Cari</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.search.default.indexBase">c:\indexes</property>
        <mapping class="HibClasses.Kullanicilar"/>
        <mapping class="HibClasses.Kategoriler"/>
        <mapping class="HibClasses.Musteriler"/>
        <mapping class="HibClasses.Urunler"/>
        <mapping class="HibClasses.Satislar"/>
    </session-factory>
</hibernate-configuration>
